/* ------------------------------------------------------------ *\
	Print
\* ------------------------------------------------------------ */

@media print {

	body {
		overflow: auto !important;
		background: #fff;
		color: #000;
	}

	a[href]:after {
		content: none !important;
	}

	a[href^="http://"]:after, a[href^="ftp://"]:after {
		content: " (" attr(href) ")";
		color: blue;
		font-size: small;
	}
	
	h2 {
		font-size: 18pt;
	}

	p {
		font-size: 12pt;
		color: #000;
	}

	.top-bar {
		display: none;
	}

	.fp-tableCell {
		width: 100%;
		margin: 0 5%;
		padding: 0;
		height: auto !important;
		float: none;
	}

	.main {
		height: auto !important;
		transform: translate3d(0, 0, 0) !important;
		position: static !important;
		transition: 0;
	}

	.section {

		height: auto !important;
		padding: 20px 0 !important;
		float: left;
		display: inline;
		width: 50% !important;
		
		& .fa {
			display: none;
		}

		& .section-inner {
			display: inline;
			vertical-align: top;
			padding: 0;
		}

		& .row {
			height: auto !important;
		}

		&:nth-child(odd) {
			clear: both;
		}
	}
}