/* ------------------------------------------------------------ *\
	Sections
\* ------------------------------------------------------------ */

.section {

	& .fa-user-o {
		font-size: 100px; line-height: 1; position: absolute; bottom: 0; right: 100px; color: #000; z-index: 99; 
	}
}