/* ------------------------------------------------------------ *\
	Sections
\* ------------------------------------------------------------ */

.section {

	& .fa {
		font-size: 350px; line-height: 1; position: absolute; top: 50%; right: 100px; color: #444; z-index: 99; transform: translateY(-50%);
	}
}